<h4 style="color:midnightblue">受信完了</h4>
<hr class="h-0">
<table class="border border-primary" style="width:300px">
<tr><td class="p-2 omo-bgc-3"><b>書籍のご注文ありがとうございます。</b></td></tr>
<tr><td class="p-2 omo-bgc-2">
商品は2、3日中に発送致しますので、到着までしばらくお待ち下さい。<br />
<div class="text-right">Omodok 書籍営業部</div>
</td></tr>
</table><br />
<a href="JavaScript:rirekiFn(-2);">［買い物ページに戻る］</a>

